cache/
data/EMNIST/data
log/
.vscode/
.DS_Store
src/__init__.pyc


src/__init__.pyc
src/__pycache__/
src/communication/*.pyc
src/communication/__pycache__/

src/controllers/*.pyc
src/controllers/__pycache__/

src/controllers/*.pyc


src/models/__pycache__/


src/optimizers/__pycache__/

src/optimizers/gd.py
src/trainers/__init__.py
src/trainers/__pycache__/


src/utils/*.pyc
src/utils/__pycache__/